*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(181, 100%, 21%);
 text-align: center;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width:550px;
    height:510px;
}
button{
    background-color: antiquewhite;
    color: rgb(12, 19, 18);
    height: 160px;
    width: 160px;
    border-radius: 1rem;
    box-shadow: 6px 2px 2px rgb(34, 30, 30);
    margin: 5px;
}

.resetbtn{
    background-color: #EE4E4E;
    font-size: 1.3rem;
}
.msg-container{
    font-size: 2rem;
    height: 40px;
    color: rgb(252, 245, 252);
}
.hide{
    display: none;
}